<div id="sexygcode" style="height:800px">
  <div class='gwin' id='gwin' style=''>
    <canvas  id='mycanvas' style='width:100%;height:100%'></canvas>
    <div id='mygui' class='pghidden'>View Settings</div>
    
    <button class="pgstatetoggle"><i class="fa icon-black fa-info-circle"></i></button>
    <button class="pgfilestoggle"><i class="fa icon-black fa-list"></i></button>
    <button class="pgsettingstoggle">&#9881</button>
    <button class="fstoggle">&#9974</button>
    <button class="pgdashtoggle"><i class="fa fa-tachometer"></i></button>
    <button class="pgcameratoggle">&#128247</button>
  </div>
  

</div>
<br>
<a id="injector_link" href="#">PrettyGCode 0.1</a>
<br>
You can open directly in fullscreen mode by using the link below.<br>
<a id="fs_link" href="/?fullscreen=1#tab_plugin_prettygcode">Direct link to fullscreen mode</a>
