<div id="pg-container" style="height:800px">
    <div class="pg-view">
        <canvas id="pg-canvas" style="width:100%;height:100%""></canvas>
        <div class="pg-status">T:0/0 B:0/0</div>
        <div id="pg-view-settings" class="pg-hidden">View Settings</div>
        <button class="pg-toggle pg-fullscreen-only pg-toggle-state"
                title="Toggle state window">
            <i class="fa icon-black fa-info-circle"></i>
        </button>
        <button class="pg-toggle pg-fullscreen-only pg-toggle-files"
                title="Toggle file window">
            <i class="fa icon-black fa-list"></i>
        </button>
        <button class="pg-toggle pg-toggle-settings" title="Toggle settings window">&#9881</button>
        <button class="pg-toggle pg-toggle-fullscreen" title="Toggle fullscreen mode">&#9974</button>
        <button class="pg-toggle pg-fullscreen-only pg-toggle-dashboard"
                title="Toggle DashBoard window (if installed)">
            <i class="fa fa-tachometer"></i>
        </button>
        <button class="pg-toggle pg-fullscreen-only pg-toggle-webcam"
                title="Toggle webcam view window">&#128247</button>
    </div>
</div>
<h3 id="injector_link">PrettyGCode</h3>
A GCode visualizer.
<br>
<br>
You can open directly in fullscreen mode by using the link below.
<br>
<a id="fs_link" href="?fullscreen=1#tab_plugin_prettygcode">Direct link to fullscreen mode</a>
<br>
<button id="pginstructions_button" onClick='$("#pginstructions").toggle();'>Show/Hide Instructions</button>
<div style="display:none" id="pginstructions">
    <h4>Fullscreen mode</h4>
    PrettyGCode runs in a tab, but was really made to be run full screen. You can toggle to full screen mode by using the button in the upper right corner of the 3d view. While in fullscreen mode you can toggle the display of several OctoPrint windows, including State, Files and the Webcamera view. Also a window that contains the view from the Dashboard plugin (if installed).
    <br>
    <h4>Syncing</h4>
    Syncing to print progress is harder than it sounds. The built in OctoPrint GCode visualizer and PrettyGCode uses the <b>File Position</b> to sync the line drawing in the view. This is actually when the line of GCode is read from the file on disk and NOT when it is actually printed. In this plugin I also display the nozzle in the 3d view. This is calculated based on when the GCode line is <b>sent</b> to the printer. This means the print head should be closer to where it actually is. But it will not match the lines being drawn in the 3d view. It is a compromise.
    <h4>Performance and WebGL:</h4>
    PrettyGCode uses WebGL and Three.js for rendering. WebGL may not be supported on all browsers. And performance maybe slow on older computers, especially with larger GCode models.
    <h5>Tested browsers</h5>
    <ul>
        <li>Chrome</li>
        <li>Firefox</li>
        <li>Edge</li>
        <li>Android Chrome</li>
    </ul>
    <h4>Streaming via OBS Studio:</h4>
    My primary use for this plugin is to visually show print status when I stream my prints on Twitch. I use OBSStudio for streaming, but to get the browser plugin to render the 3D view you need to launch OBS with the --enable-gpu flag:
    <br>
    <h4>PrettyGCode Homepage:</h4>
    <a id="fs_link"
       href="https://github.com/jacopotediosi/OctoPrint-PrettyGCode">PrettyGCode homepage</a>
</div>
