#tab_plugin_prettygcode .gwin {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid green;
}

.pgfullscreen #tab_plugin_prettygcode .gwin {
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid red;
}
#tab_plugin_prettygcode .fstoggle {
    top: 20px;
    right: 60px;
    position: absolute;
    z-index:10;
}
.pgfullscreen #state_wrapper {
    top: 20px;
    left: 20px;
    width: 300px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index:5;
}

/* .pgfullscreen #files_wrapper {
    left: 20px;
    bottom: 20px;
    max-width: 80%;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.70);
    background: rgba(204, 204, 204, 0.9);
    z-index:6;
}
.pgfullscreen #files .gcode_files .entry {
    padding: 5px;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
    position: relative;
    width: 220px;
    display: inline-grid;
    background: white;
    height: 100px;
} */
/* .pgfullscreen #files.collapse {
    width:0px;
} */

.gwin #webcam_rotator {
    bottom: 20px;
    right: 40px;
    width:360px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index:5;
    display:none;
}
/*test branch undo*/
.pgfullscreen .gwin #webcam_rotator {
    display:unset;
}
